.figure-overlay
  border-radius: 4px
  margin-bottom: 2.5rem

// @media (hover)
.figure-overlay
  position: relative
  overflow: hidden

  a, a:hover, a:visited
    color: $grey-light
    display: block
    box-sizing: border-box
    height: 100%
    padding: 1rem
    +breakp($sm)
      padding: .5rem
    +breakp($md)
      padding: 2rem
    &:hover, &:visited
      color: $grey-light
  img
    transition: filter 300ms ease-in-out

  figcaption
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: rgba(0,0,0,.5)
    opacity: 0
    visibility: hidden
    transition: opacity 300ms ease-in-out 2ms, visibility 1ms
    border-radius: 4px

  h4
    position: relative
    margin-top: 0
    margin-bottom: .5rem
    +breakp($xs)
      margin-bottom: 1rem
    +breakp($sm)
      margin-bottom: .3rem
    +breakp($md)
      margin-bottom: 1rem
    &::after
      content: ''
      position: relative
      display: block
      border-bottom: 0.125rem solid $grey-light
      width: 0
      transition: width 300ms ease-in-out
      transition-delay: 200ms
  p
    +breakp($sm)
      font-size: .85rem
    +breakp($md)
      font-size: 1rem
.figure-overlay:hover
  img
    filter: blur(0.4rem)
  figcaption
    opacity: 1
    visibility: visible
  h4::after
    width: 100%
