.figure-overlay
  position: relative
  margin-bottom: 2.5rem
  border-radius: 4px
  overflow: hidden
  line-height: 0

  a,
  a:hover,
  a:visited
    display: block
    padding: 1rem
    height: 100%
    color: $grey-light

    +breakp($sm)
      padding: .5rem

    +breakp($md)
      padding: 2rem

    &:hover,
    &:visited
      color: $grey-light

  img
    transition: filter 300ms ease-in-out

  figcaption
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    transition: opacity 300ms ease-in-out
    visibility: hidden
    opacity: 0
    border-radius: 4px
    background-color: rgba(0, 0, 0, .5)

  h4
    position: relative
    margin-top: 0
    margin-bottom: .5rem
    +breakp($xs)
      margin-bottom: 1rem
    +breakp($sm)
      margin-bottom: .3rem
    +breakp($md)
      margin-bottom: 1rem

    &::after
      display: block
      position: relative
      transition: width 300ms ease-in-out 200ms
      border-bottom: .125rem solid $grey-light
      width: 0
      content: ''

  p
    +breakp($sm)
      font-size: .85rem
    +breakp($md)
      font-size: 1rem

.figure-overlay:hover
  img
    filter: blur(.4rem)

  figcaption
    visibility: visible
    opacity: 1

  h4::after
    width: 100%
