// Our variables
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * .875;
$base-line-height: 1.6;

$spacing-unit:     6rem;

$text-color:       #111;
$text-color-light: lighten($text-color, 25%);
$background-color: #fdfdfd;
$footer-color:     #fdfdfd;
$brand-color:      #2a7ae2;

$grey:       #828282;
$grey-light: lighten($grey, 40%);
$grey-dark:  darken($grey, 25%);

// Bootstrap variables
$xs: 320px;
$ss: 450px;
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;


@mixin breakp($device) {
  @media (min-width: $device) {
    @content;
  }
}

html {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  background-color: $background-color;
  max-width: 100vw;
  min-height: 100vh;
  line-height: $base-line-height;
  color: $text-color;
  font: $base-font-weight 100% $base-font-family;
  overflow-x: hidden;
  font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}


// Set `margin-bottom` to maintain vertical rhythm

p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 4;
}

ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: $spacing-unit;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: $brand-color;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    text-decoration: none;
    color: $text-color;
  }
}

p {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

main {
  padding-top: $spacing-unit;
}

section {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  max-width: 100%;
}

figure {
  margin: 0;
}

blockquote {
  border-left: 4px solid $grey-light;
  letter-spacing: -1px;
  color: $grey;
  font-size: 18px;
  font-style: italic;

  > *:last-child {
    margin-bottom: 0;
  }

  > * {
    margin-left: $spacing-unit / 2;
  }
}

%clearfix {
  &::after {
    display: table;
    clear: both;
    content: '';
  }
}

.container,
.flex-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: .625rem;
  padding-left: .625rem;
  max-width: 60rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}
