h1,
h2,
h3,
h4 {
  line-height: normal;
}
h1 {font-size: 2.7rem;}
h2 {font-size: 1.6rem;}
h3 {font-size: 1.2rem;}
h4 {font-size: 1rem;}

@include breakp($sm) {
  h1 {font-size: 3rem;}
  h2 {font-size: 1.8rem;}
  h3 {font-size: 1.3rem;}
}
@include breakp($md) {
  h1 {font-size: 4rem;}
  h2 {font-size: 2.3rem;}
  h3 {font-size: 1.4rem;}
}
@include breakp($lg) {
  h1 {font-size: 5rem;}
  h2 {font-size: 2.8rem;}
  h3 {font-size: 1.5rem;}
}
@include breakp($xl) {
  h1 {font-size: 6rem;}
  h2 {font-size: 3.3rem;}
  h3 {font-size: 1.7rem;}
}
