<section id="bio">
  <h2 class="container">{% if page.language == "en" %}Who I am ...{% else %}Wer ich bin ...{% endif %}</h2>
  <div class="container">
    <div class="bio-container">

      <div class="bio-desc">

        {% if page.language == "en" %}
        <p>
          After spending her childhood on an Irish peninsula, Luise Kollars returned to Vienna where she still lives today. She completed her secondary education in 2015 at the bilingual school GRg17 Parhamerplatz and consequently began her studies of secondary teaching: English at the University of Vienna and Arts and Education at the Academy of Fine Arts.
        </p>
        <p>
          Since then she has had the opportunity to exhibit her work on several occasions, such as at the Academy’s semi-annual Rundgang 2015, the SOHO in Ottakring Festival 2016, the exhibition “Tansversal” at Fluc/Praterstern, and the Installation Project “No matter what,” in the exhibition space T/abor.
        </p>
        <p>
          Currently, Luise mainly works with collage techniques and photography, but regularly enjoys returning to her roots in drawing and illustration.
        </p>
        {% else %}
        <p>
          Luise Kollars verbrachte ihre Kindheit auf einer Irischen Halbinsel und kehrte im frühen Jugendalter zurück in ihre Heimat, Wien, wo sie heute lebt. Sie maturierte 2015 am bilingualen Gymnasium GRg17 Parhamerplatz und begann gleich im Wintersemester 2015/16 mit ihrem Lehramtsstudium: Englisch auf der Uni Wien und Kunst und Bildung an der Akademie der Bildenden Künste.
        </p>
        <p>
          Seitdem hatte sie mehrmals die Gelegenheit ihre Werke auszustellen, unter anderem im Rahmen des Akademie Rundgangs 2015, des SOHO in Ottakring 2016 Festivals, der Ausstellung „Transversal“ am Fluc/Praterstern und des Installationsprojekts „No matter what,“ im Ausstellungsraum T/abor.
        </p>
        <p>
          Luise arbeitet momentan vorwiegend mit Collagetechniken und Fotografie, kehrt aber gerne regelmäßig zurück zu ihren Wurzeln in der Zeichnung und Illustration.
        </p>
        {% endif %}
      </div>
      <img class="profil-img" src="/assets/img/placeholder.png">
    </div>
  </div>
</section>
