<div id="top-menu">
  <div class="container">
    <div class="logburg">

      <div class="logo">
        <a href="/{% if page.language == "de" %}de/{% endif %}">
          <img src="/assets/img/Signatur.svg" alt="Luise Kollars">
        </a>
      </div>

      <div id="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <nav id="top-nav">
      <ol class="top-nav-list">
        <li><a href="#bio">Bio</a></li>
        <li><a href="#work">{% if page.language == "en" %}Work{% else %}Arbeit{% endif %}</a></li>
        <li><a href="#contact">{% if page.language == "en" %}Contact{% else %}Kontakt{% endif %}</a></li>
      </ol>
    </nav>
  </div>

</div>
