<div id="top-menu">
  <div class="container">
    <div class="logburg">
      
      <div class="logo">
        <a href="/{% if page.language == "de" %}de/{% endif %}">
          <img src="/assets/img/Signatur.svg" alt="Luise Kollars">
        </a>
      </div>

      <div id="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <nav id="top-nav">
      <ol class="top-nav-list">
        {% for work in site.data.work %}
          {% if page.language == "en" %}
          <li><a href="/{{ work.link }}">{{ work.kat }}</a></li>
          {% else %}
          <li><a href="/de/{{ work.link }}">{{ work.kat-de }}</a></li>
          {% endif %}
        {% endfor %}
      </ol>
    </nav>
  </div>

</div>
