<div id="top-menu">
  <div class="container">
    <div class="logburg">
      <a href="/{% if page.language == "de" %}de/{% endif %}">
        <div class="logo">
          Luise
        </div>
      </a>
      <div id="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <nav id="top-nav">
      <ol class="top-nav-list">
        {% for work in site.data.work %}
          {% if page.language == "en" %}
          <li><a href="/{{ work.link }}">{{ work.kat }}</a></li>
          {% else %}
          <li><a href="/de/{{ work.link }}">{{ work.kat-de }}</a></li>
          {% endif %}
        {% endfor %}
      </ol>
    </nav>
  </div>

</div>
