<div id="top-menu">
  <div class="container">
    <div class="logburg">
      <a href="/{% if page.language == "de" %}de/{% endif %}">
        <div class="logo">
          <img src="/assets/img/Logo.png" alt="Luise">
        </div>
      </a>
      <div id="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <nav id="top-nav">
      <ol class="top-nav-list">
        <li><a href="#bio">Bio</a></li>
        <li><a href="#work">{% if page.language == "en" %}Work{% else %}Arbeit{% endif %}</a></li>
        <li><a href="#contact">{% if page.language == "en" %}Contact{% else %}Kontakt{% endif %}</a></li>
      </ol>
    </nav>
  </div>

</div>
