<section id="work">
  <h2 class="container">
    {% if page.language == "en" %}
      What I do ...
    {% else %}
      Was ich mache ...
    {% endif %}
  </h2>
  {% for work in site.data.work %}
  <section>
    <h3 class="container">
      {% if page.language == "en" %}
        {{ work.kat }}
      {% else %}
        {{ work.kat-de }}
      {% endif %}
    </h3>
    <div class="container">
      <div class="featured-posts">
      {% for post in work.posts %}
        <div class="featured-post">
          <figure class="figure-overlay">
            <img alt="Img for {{ post.title }}" src="{{ post.img }}">
            <figcaption>
              <a href="{{ post.link }}">
                <h4>
                {% if page.language == "en" %}
                  {{ post.title }}
                {% else %}
                  {{ post.title-de }}
                {% endif %}
                </h4>

                <p>
                  {% if page.language == "en" %}
                    {{ post.desc }}
                  {% else %}
                    {{ post.desc-de }}
                  {% endif %}
                </p>
              </a>
            </figcaption>
          </figure>
        </div>
      {% endfor %}
      </div>
    </div>
    <div class="container kat-link">
      {% if page.language == "en" %}
        <a href="/{{ work.link }}">all projects <span class="arrow-link">&#10093;</span></a>
      {% else %}
        <a href="/de/{{ work.link }}">alle Projekte <span class="arrow-link">&#10093;</span></a>
      {% endif %}
    </div>
  </section>
  {% endfor %}
</section>
