@import
  "0-tools/normalize",

  "1-base/base",
  "1-base/fonts",
  "1-base/resptext",
  "1-base/icons",

  "2-modules/figoverlay",
  "2-modules/footer",
  "2-modules/langselect",
  "2-modules/navbar",

  "3-layout/category",
  "3-layout/default",
  "3-layout/index",
  "3-layout/post"
;
