.page-header
  margin-bottom: 4rem
  padding: 4rem 0 3rem
  +breakp($lg)
    padding: 7rem 0 4rem 0

.title
  background-color: $grey-light
  margin: 0
  font-weight: 300

.post-list
  list-style: none
  padding-left: 0
  margin: 0
  background-color: $background-color
  +breakp($xs)
    margin-right: -.5rem
  +breakp($md)
    margin-right: -1rem

.post-item
  display: inline-block
  vertical-align: top
  margin-bottom: 5rem
  width: 100%
  +breakp($xs)
    width: 50%
  +breakp($md)
    width: 33.3333333%
  +breakp($lg)
    width: 25%
  figure
    +breakp($xs)
      margin-right: .5rem
    +breakp($md)
      margin-right: 1rem
  img
    width: 100%
  h4
    margin-top: 1rem
    margin-bottom: .25rem
    a
      color: $text-color
.post-meta
  color: $text-color-light
