---
layout: default
---

    {% include nav-general.html %}
    {% include langselect.html %}

    <header class="header page-header">
      <div class="container">
        <h1 class="parallax-title">{{ page.title }}</h1>
      </div>
    </header>
    <div class="container">
      <ul class="post-list">
        {% for post in site.categories.[page.catname] %}
        <li class="post-item">
          <figure class="figoverlay">
            <img src="/assets/img/{{post.categories[0]}}/thumbnails/{{post.thumbnail | replace: '.', '_300x225.'}}" alt="{{post.title}}">
            <figcaption>
              <h4><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
              <p class="post-meta">
                {{ post.date | date: "%Y" }}
              </p>
            </figcaption>
          </figure>
        </li>
        {% endfor %}
      </ul>
    </div>
