---
layout: default
---

{% include nav-general.html %}
{% if page.language %}
{% include langselect.html %}
{% endif %}
<header class="header post-header">
  <div class="container">
    <h2>{{ page.title }}</h1>
  </div>
</header>
<div class="post-content container">
  {% assign inhalt = page.content | strip_newlines %}
  {% if inhalt == "" %}
  <figure>
    <img src="/assets/img/{{page.categories[0]}}/{{page.thumbnail}}" alt="{{page.title}}">
  </figure>
  {% else %}
  {{content}}
  {% endif %}

</div>
